
.tabList{
    display: flex;    
    list-style: none; 
    padding: 0;
    margin: 0;
}
.tab{
    display: flex;
    border:none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    margin-right: 10px;
}

.selected{
    border-bottom: #fa4549 2px solid;
    font-weight: bold;
}
