.listContainer{
    padding: 0 32px;
    margin-top: 24px;
    height: 220px;
}

.topSection{
    display: flex;
    flex-direction: 'space-between';
    margin-bottom: 20px;
}

.listFilter{
    margin-top: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: rgb(246,248,250);
    padding: 16px;
}

.input{
    background: #f6f8fa;
    border-radius: 6px;
    padding-left: 10px;
    color: #57606a;
    width: 60%;
    margin-right: auto;
    box-shadow: none;
    border: 1px solid rgba(27, 
    31, 36, 0.15);
}

.filterLists{
    display: flex;
    align-items: center;
}
.filterLists > span {
    padding:  0 16px;
    line-height: 2;
}

.selected{
    font-weight: 800;
}

.textFilter{
    cursor: pointer;
    margin-right: 8px;
}