.listContainer{
    padding: 0 32px;
    margin-top: 24px;
    height: 220px;
}

.topSection{
    display: flex;
    flex-direction: 'space-between';
}

.input{
    background: #f6f8fa;
    border-radius: 6px;
    padding-left: 10px;
    color: #57606a;
    width: 60%;
    margin-right: auto;
    box-shadow: none;
    border: 1px solid rgba(27, 
    31, 36, 0.15);
}